.html {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
}

.app-sidebar {
  width: 10%;
  border-right: 2px solid #f4f5f7;
}

.app-container {
  width: 90%;
  padding: 2rem;
  height: 100vh;
  overflow: scroll;
}

.divider-vertical {
  height: 1.5rem;
}

.divider-horizontal-custom {
  width: auto;
  min-width: auto;
}

.app-notification{
  padding: 1rem !important;
  font-size: 14px !important;
  color: #515c67 !important;
}