.html {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
}
.app-sidebar {
  width: 10%;
}
.app-container {
  width: 90%;
  background-color: #EEEEFF;
  padding: 2rem;
  height: 100vh;
  overflow: scroll;
}