
.ticket-card{
    background-color: white;
    border-radius: 6px;
    padding: 1rem;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 2px 1px 0px #d4d4d4a8;
    width: 100%;
    border: 1px solid #fff;
    margin: 2px 2px 1rem 2px;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ticket-card-new {
    border-color: #fc73034f;box-shadow: 1px 2px 1px 0px #fc73039e;
}

.ticket-card-assigned {
    border-color: #030ffc4f;box-shadow: 1px 2px 1px 0px #030ffc9e;
}
.ticket-card-resolved {
    border-color: #1bc5084f;box-shadow: 1px 2px 1px 0px #1bc5089e;
}

.ticket-card > div:not(:first-child) {
    margin-top: 1rem;
}

.ticket-card-top {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.ticket-card-top-topic{
    font-weight: 500;
}

.ticket-card-top-col-1 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.ticket-card-mid > div.ant-form-item{
    margin-right: 0;
}

.ticket-card-bottom {

}

.ticket-card-bottom-row-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.ticket-card-bottom-row-1-col-2 > p {
    margin: 0;
    font-size: 12px;
    text-align: end;
    color: #515c67
}

.ticket-card-bottom-row-2{
    display: flex;
    justify-content: space-between;
}
.ticket-card-bottom-row-2-col-1 {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}