.search {
    margin: 1rem;
}

.search-top {
    display: flex;
    justify-content: space-between;
}

.search-top-left{
    display: flex;
    align-items: center;

}
.search-top-right {
    

}

.search-top-right-sort {

    width: auto;
    text-align: end;
    border-color: transparent;
    background-color:transparent;
}
.search-top-right-sort:disabled{
    border-color: transparent;
    background-color:transparent;
    cursor: auto;
}


.search-bottom {
    display: flex;
    justify-content: space-between;
}

.search-bottom-right {
    display: flex;
    align-items: end;
}
